### Objects and data structures

**Numbers**
- Used for numeric value
- int, float, complex
- [long is no longer used]
- example : 1,2, 3.980128, 9 + 90j [here j is the imaginary pary - a + bj]

**Strings**
- sequence of characters
- use indexing/negative indexing to retrieve a char like 'Hello'[3], 'Hello'[-1]
- can use slicing here, str.[1:3], str.[:3], str.[1:], str.[::-1] (reverse string)
- immutable - that is cannot change the existing data , str.[2] = 't' throws errors
- can use functions such as .upper, .lower, .split, .capitalize, ...

**Lists**
- similar to arrays
- ordered and mutable
- indexing and slicing applicable
- functions like append, pop, len, ...

**Tuples**
- similar to list
- ordered and immutable
- indexing, slicing
- functions like count, ...

**Dictionaries**
- key-value pairs
- not ordered
- fetch value using key dict.[key]
- functions like .keys, .values, .items

In [7]:
38 - 4 + 50 + 25 - (2 + 1) * 3 + (1 * 25) / 100

100.25

In [8]:
4 * (6 + 5) # 44

44

In [9]:
4 * 6 + 5 # 29

29

In [10]:
4 + 6 * 5 # 34

34

In [11]:
type(3 + 1.4 + 4) # float

float

In [52]:
import math
print(4 ** 0.5) # clever trick to print sqrt
math.sqrt(4) # for square root of a number

2.0

2.0

In [15]:
4 ** 2

16

In [16]:
math.pow(4, 2) # square of a number

16.0

In [18]:
s = 'hello'
# print 'e' using indexing
print(s[1])

e

In [19]:
s = 'hello'
# reverse using slicing
s[::-1]

'olleh'

In [26]:
s = 'hello'
# 2 methods to produce 'o'
print(s[len(s)-1])
print(s[-1])
print(s[s.index('o')])

o
o
o

In [25]:
[s.index('l')]

[2]

In [30]:
# [0,0,0] build list - 2 ways
print([0,0,0])
l1 = []
# l1.__add__([0,0,0])
# print(l1)
l2 = []
l2.append(0)
l2.append(0)
l2.append(0)
print(l2)

[0, 0, 0]
[0, 0, 0]

In [55]:
## we can use multiplication to generate a list
[0] * 3 + [2]

[0, 0, 0, 2]

In [31]:
list3 = [1,2,[3,4,'hello']]

In [32]:
list3[2][2] = 'goodbye'

In [33]:
list3

[1, 2, [3, 4, 'goodbye']]

In [57]:
list4 = [5,3,4,6,1]

In [58]:
list4

[5, 3, 4, 6, 1]

In [36]:
list4.sort()

In [37]:
list4

[1, 3, 4, 5, 6]

In [59]:
## .sort() is in place
## sorted() method return sorted version
sorted(list4)

[1, 3, 4, 5, 6]

In [38]:
dict1 = {'simple_key': 'hello'}

In [39]:
dict1['simple_key']

'hello'

In [40]:
dict2 = {'k1': {'k2': 'hello'}}

In [41]:
dict2['k1']['k2']

'hello'

In [43]:
dict3 = {'k1': [{'nest_key': ['this_is_deep', ['hello']]}]}

In [44]:
dict3['k1'][0]['nest_key'][1][0]

'hello'

In [45]:
d = {'k1': [1,2,{'k2': ['this is tricky', {'tough': [1,2,['hello']]}]}]}

In [46]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

We cannot sort dictonary as order is not maintained in this data type.
Mappings and not orders.

Tuples vs 
mutability

| Tuples | List |
| ----------- | ----------- |
| immutable | mutable |

In [47]:
tup = (1,3,5)

In [48]:
tup = tuple()

Set - 
contains unique characters/elements

In [49]:
lis = [1,2,2,33,4,4,11,22,3,3,2]
s = set(lis)

In [50]:
print(s)

{1, 2, 33, 4, 3, 11, 22}