Learning Python 3

Data types
1 Numbers -
Number/NUmeric data types can be integer type, floating point type and complex number
Interger -> int -> used to hold integer values
Floating point -> float -> used to hold floating point values. Number with decimal point
Complex -> complex -> eg. 2 + 3j -> real + imaginary part

In [8]:
2+1

3

In [9]:
27 - 9

18

In [10]:
3*3

9

In [11]:
27/3

9.0

MOD - modulo operator
% -> it gives remainder
% -> mod / modulo operator

x mod N // x modulo N // x % N


Power -> **
2 ** 3 => 2 * 2 * 2
7 ** n => 7 * 7 * 7 * ... ntimes total

In [12]:
27%8

3

In [13]:
2 **3

8

In [15]:
(2 + 10) * 10 - 2

118

1. What's the difference between floating point and an integer?
>>An integer has no decimals in it, a floating point number can display digits past the decimal point.

2. Why doesn't 0.1+0.2-0.3 equal 0.0 ?
>>This has to do with floating point accuracy and computer's abilities to represent numbers in memory. For a full breakdown, check out: https://docs.python.org/2/tutorial/floatingpoint.html

Variable assignments
In python we do not need to define the type of the variable.
We can directly assign value to the variable.
reference
Rules
1 Not start with number
2 no whitespaces
3 no special character except _ [underscore]

Best practise
PEP8 > names are lowercase
avoid keywords


Python uses Dynamic typing
Different data type value can be re-assigned to the same variable.


To identify type of a variable >
type(var)
type(value)

In [16]:
a = 5

In [17]:
a

5

In [18]:
print(a)

5

In [23]:
a = a + a

In [24]:
print(a)

80

In [25]:
type(a)

int

In [26]:
type(50.12)

float

In [27]:
# int = hello
# Do not use keyword as variable names

NameError: name 'hello' is not defined

In [28]:
my_income = 100
tax_rate = 0.1
my_tax = my_income * tax_rate

In [29]:
print(my_tax)

10.0

Strings 

sequence of characters
use double quotes or single quotes
string are ordered sequences - we can use indexing and slicing

formatted string use ->>
"""
Here add the formatted string
"""


indexing >>
text :              h   e   l   l   o
indexing :          0   1   2   3   4
reverse indexing :  0  -4  -3  -2  -1


slicing >>
allows us to grab sub section of the characters - a slice of the string
syntax - [start:stop:step]
start - start index
stop - stope index [printed til stop-1] exclusive
step - size of jump taken

In [7]:
str1 = """
1
hello 2 
 3"""

print(str1)

1
hello 2
 3

In [8]:
str2 = "Jose Johanson"

print(str2[2])

s

In [11]:
print('hello')
print("world")
print("this is also a string. isn't it?")

hello
world
this is also a string. isn't it?

In [15]:
"output return"
"output return 2"

'output return 2'

In [16]:
# check length of string
len("Hello world")

11

Indexing and slicing of strings : 
Indexing ->
index start from 0 to length-1
negative indexing
text                    h   e   l   l   o  | length = 5
index                   0   1   2   3   4
negative/reverse index  0  -4  -3  -2  -1

slicing : -> fetch a sub section of the string.
text[startIndex:endIndex] -> here endIndex is exclusive
text = "hello"
text[1:3] = "el" from 1 index to 3-1 index
text[:3] = "hel" upto 3-1
text[2:] = "llo" from 2nd index to complete end

step size 
default stepSize is 1.
text[startIndex:endIndex:stepSize] -> start from the mentioned start index and steps based on the stepSize and goed to the endIndex - 1
text[::stepSize]
text[::]
text[::2] => "hlo"

reverse string
text[::-1] => why first letter is not printed -=> so minus just denotes to go through in reverse order

# allowed
positive direction
positive direction + positive step
reverse direction + reverse step

In [7]:
#string indexing
mystring = "hello world"
print(mystring)
print(mystring[1])
print(mystring[-1])

hello world
e
d

In [6]:
#slicing
mystring = "abcdefghi"
print(mystring)
print(mystring[2:])
print(mystring[1:4])
print(mystring[:4])

abcdefghi
cdefghi
bcd
abcd

In [9]:
mystring = "hello"
print(mystring[::])
print(mystring[::2])
mystring = "abcdefghijkl"
print(mystring[::2])

hello
hlo
acegik

In [14]:
# reverse string
mystring = "abcdefghijklmnop"
print(mystring[::1])
# print(mystring[::0])
mystring[::-1]

abcdefghijklmnop

'ponmlkjihgfedcba'

In [25]:
print("this " + mystring[-10:-1])  # positive direction
print("this " + mystring[-1:-10])  # revers direction

this ghijklmno
this

In [27]:
print("this " + mystring[-10:-1:-2]) # positive direction and reverse step
print("this " + mystring[-1:-10:-2]) # reverse direction and reverse step

this
this pnljh

In [28]:
print("this " + mystring[-10:-1:2]) # positive direction and positive step
print("this " + mystring[-1:-10:2]) # reverse direction and positive step

this gikmo
this

Sring properties and string methods
immutability - python string are immutable, that is any operations on the string does not change the original string itself
string concatenation -> +
string + string
string * 10 ==> string times 10 kind of concatenation

string methods >
str.upper()
str.lower()
str.split() / str.split('delimiter') -> splits string into list based on delimeter, by default - whitespace

In [29]:
str = "Sam"

In [30]:
str[0] = 'p' # STRINGS ARE IMMUTABLE

TypeError: 'str' object does not support item assignment

In [33]:
str = "P" + str[1:] # here we are basically assigning a different reference to variable str

In [32]:
print(str)

Pam

In [35]:
s = "z"
print("Hello world " + s + " !!")
print("hello " + (s*3))

Hello world z !!
hello zzz

In [36]:
x = "Hello World!!"

In [38]:
print(x.upper())
print(x.lower())
print(x.split())

HELLO WORLD!!
hello world!!
['Hello', 'World!!']

## String formatting in printing.

inject variable while printing, multiple ways to format strings for printing variables in them --> string interpolation

helps us to combine sting with other type of values, like int and string.

**Two ways --**
1. .format() method

syntax -- "Something here {}, also then other thing {}".format(someting1, something2)

based on the index of variable

'this is {2} {0} {1}'.format(var0, var1, var2)
                               0     1     2

if one of the index is mentioned, then all of them should be present

we can also use keys inplace of index => print("The {q} {b} {f}.".format(f='fox', b='brown', q='quick'))

2. f-strings [formatted string literals] [from 3.6]

similar to format method

print(f"Hello, My name is {var/value}")

In [3]:
print('This is a string {}. We can also add an numeric value like {}.'.format("INSERTED",3.14))

This is a string INSERTED. We can also add an numeric value like 3.14.

In [10]:
print("The {2} {1} {0}.".format('fox', 'brown', 'quick'))
print("The {2} {0} {0}.".format('fox', 'brown', 'quick'))
print("The {q} {b} {f}.".format(f='fox', b='brown', q='quick'))

The quick brown fox.
The quick fox fox.
The quick brown fox.

# Float formatting- {value:width.precision f}

_width - before decimal_

_precision - after decimal_

**{[index]:[width][.precision][type]} structure. In the given syntax,**

- The index field refers to the index of the argument.
- The width field refers to the minimum length of the string.
- The precision field refers to the floating-point precision of the given number.
- The type field shows the type of the input that is passed to the format() method. Floating-point and decimal inputs are identified by "f" and "d" respectively. String values are also identified by "s".

In [11]:
result = 100/777

In [12]:
result

0.1287001287001287

In [22]:
print("The result was {r}".format(r=result))
print("The result was {r:10.3f}".format(r=result))

The result was 0.1287001287001287
The result was      0.129

In [23]:
name = "Jose"
print("Hello, My name is {}".format(name))

Hello, My name is Jose

In [24]:
print(f"Hello, My name is {name}")

Hello, My name is Jose

In [29]:
###
print("The result was {r} {a}".format(r=result, a=3))

The result was 0.1287001287001287 3

# Lists

- ordered sequence
- hold different object types 
- mutable
- similar to arrays
- all indexing and slicing rules similar to string

list[index] = 'something' -> mutates the list

.append(data) --> mutates the list

.pop() - pop out the last element --> mutates the list
.pop(index) - pop out element at given index

.sort() -> sort list inplace - do not return anything

.reverse() -> reverse the list -> inplace -> do not return anything

In [33]:
my_list = [1, 3, 5, 12, 'two']
other_list = ['seven', 13, 45]

In [34]:
print(my_list)
print(other_list)

[1, 3, 5, 12, 'two']
['seven', 13, 45]

In [36]:
print(my_list[2:])
print(other_list[:2])
print(my_list + other_list) # concatenation of lists

[5, 12, 'two']
['seven', 13]
[1, 3, 5, 12, 'two', 'seven', 13, 45]

In [38]:
#mutating list
print(my_list)
my_list[0] = 'one'
print(my_list)

[1, 3, 5, 12, 'two']
['one', 3, 5, 12, 'two']

In [39]:
#add element to end of the list
print(my_list)
my_list.append('lastElement')
print(my_list)

['one', 3, 5, 12, 'two']
['one', 3, 5, 12, 'two', 'lastElement']

In [40]:
# pop method
print(my_list)
my_list.pop()
print(my_list)

['one', 3, 5, 12, 'two', 'lastElement']
['one', 3, 5, 12, 'two']

In [43]:
poped_item = my_list.pop()

In [44]:
my_list = [1, 3, 5, 12, 'two']
print(my_list)
my_list.pop(1)
print(my_list)

[1, 3, 5, 12, 'two']
[1, 5, 12, 'two']

In [45]:
s_list = ['o', 'r', 'a', 'b','x']
n_list = [6, 12, 1, 67, 90, 2]

In [50]:
#.sort() -> inplace method -> does not return anything
# error - s_sorted_list = s_list.sort() gives error as sort() does not return anything
s_list.sort()

In [51]:
s_list

['a', 'b', 'o', 'r', 'x']

In [52]:
type(s_list.sort())

NoneType

NoneType - None - no value
Useful for creating variable and not initializing it.

**None**

Value denoting function/var does not return/store any thing

In [53]:
print(n_list)

[6, 12, 1, 67, 90, 2]

In [54]:
n_list.reverse()

In [55]:
print(n_list)

[2, 90, 67, 1, 12, 6]

In [56]:
#Nested list
# this can be used for objects, matrices
[1, 2, 3, [1,2], [4, 5]]

[1, 2, 3, [1, 2], [4, 5]]

In [57]:
[1, 2, 3, [1,2], [4, 5]] [3]

[1, 2]

In [58]:
[1, 2, 3, [1,2], [4, 5]] [3][0]

1

# Dictonaries

- Basically maps
- unordered mapping for storing objects
- key-value pairs
- object retrieved using key
- unordered and cannot be sorted.
- the keys and values can be of different data types
- mutable - can modify value, or add new key value

Dict functions/methods
- dict.keys() --> gets all the keys
- dict.values() --> gets all the values
- dict.items() --> gets all the pairs

List

- ordered sequence can be indexed and sliced.

_syntax_

initialize data -> my_dict = {'key1': 'val1', 'key2': 'val2'}

retrive values -> my_dict['key2']

In [59]:
my_dict = {'key1': 'val1', 'key2': 'val2'}

In [60]:
my_dict

{'key1': 'val1', 'key2': 'val2'}

In [62]:
my_dict['key2']

'val2'

In [65]:
dict = {'k1': 100, 'k2': 200, 'k3': {'in_k3': [1, 2, 3, 'apple']}}

In [66]:
dict['k3']

{'in_k3': [1, 2, 3, 'apple']}

In [75]:
dict['k3']['in_k3'][3].upper()  # stacking operations 
#or dict['k3'] ['in_k3']   [3].upper()

'APPLE'

In [76]:
# add new value
dict['k4'] = 'test'

In [77]:
dict

{'k1': 100, 'k2': 200, 'k3': {'in_k3': [1, 2, 3, 'apple']}, 'k4': 'test'}

In [80]:
dict['k1'] = 'New Value'

In [81]:
dict

{'k1': 'New Value',
 'k2': 200,
 'k3': {'in_k3': [1, 2, 3, 'apple']},
 'k4': 'test'}

In [83]:
# dict functions
d = {'k1': 100, 'k2': 200, 'k3': 300}
print(d)

{'k1': 100, 'k2': 200, 'k3': 300}

In [84]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [86]:
d.values()

dict_values([100, 200, 300])

In [87]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## Tuples
- similar to list
- immutable
- use parenthesis --> (1,2,3)
- can stored different types of data
- ordered - so indexing and slicing possible

functions
- tuple.count(data) -- how may times the data/value is present in tuple [applicable for list as well]
- tuple.index(data) -- whats the first index of the data/value present in tuple [applicable for list as well] [if not present gives error]

In [92]:
t = (1, 3.14, 21)

In [89]:
type(t)

tuple

In [90]:
len(t)

3

In [91]:
t[1]

3.14

In [93]:
t[-1]

21

In [94]:
t[1:]

(3.14, 21)

In [95]:
t[::-1]

(21, 3.14, 1)

In [101]:
#function
t2 = (1,2,3,1,5,1)
t2.count(1)

3

In [102]:
t2.index(1)

0

In [103]:
t2.index(5)

4

In [104]:
t2.index(90)

ValueError: tuple.index(x): x not in tuple

In [105]:
t2[0] = 23

TypeError: 'tuple' object does not support item assignment

In [106]:
## string as a whole can be reassigned a value belonging to different ref/mem location
# when we reassign str we are changing mem loc
# individual char in string can be changed
# so they are immutable in python

### Sets

- unordered collection of unique elements
- can store diff data types together
- syntax : set(values)
- set.add(value) [adds single value only], set.pop(value), set.clear()
- set(value) --> here if value is string -> it converts to individual characters

In [107]:
myset = set()

In [108]:
myset

set()

In [112]:
myset.add(123)

In [113]:
myset

{123}

In [114]:
myset.add(234)

In [115]:
myset

{123, 234}

In [118]:
# we can convert a list to set to remove the duplicate values
myset = set([11,11,11,22,33,22,33])

In [119]:
myset

{11, 22, 33}

In [130]:
set('hello')

{'e', 'h', 'l', 'o'}

In [131]:
set('hello', 'world')

TypeError: set expected at most 1 argument, got 2

In [132]:
s1 = set('hi')

In [133]:
s1

{'h', 'i'}

In [134]:
s1.add('hi')

In [135]:
s1

{'h', 'hi', 'i'}

Boolean

True / False

In [136]:
False

False

In [137]:
type(True)

bool

In [138]:
true

NameError: name 'true' is not defined

In [139]:
1 == 2

False

In [140]:
### None data type
# Act as a place holder
# Used for declaring a variable, where we currently donot want tp assign a value

In [141]:
qw = None

In [143]:
qw

In [144]:
pwd

'/Users/agnik.guha/Desktop/lrn/pythonL/python3/udemy_course/complete_python_bootcamp_from_zero_to_hero_in_python_by_jose_portilla'

In [145]:
ls

python.ipynb  touch.txt

## I/O operations in python 3

In [149]:
## writing to file

In [150]:
%%writefile test.txt 
Hello this is a test file
This is second line 
This is third line

Overwriting test.txt

In [151]:
cat test.txt

Hello this is a test file
This is second line
This is third line

In [152]:
myfile = open('wrong_file.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wrong_file.txt'

In [153]:
myfile = open('test.txt')

In [154]:
myfile

In [155]:
type(myfile)

_io.TextIOWrapper

In [156]:
#read complete file
myfile.read()

'Hello this is a test file\nThis is second line \nThis is third line\n'

In [158]:
myfile.read()
# nothing is displayed as file is already read. Move up the cursor to read again.

''

In [159]:
myfile.seek(0) # move cursor to the top

0

In [160]:
myfile.read() # reads the complete file and returns data as string

'Hello this is a test file\nThis is second line \nThis is third line\n'

In [161]:
myfile.seek(0)

0

In [162]:
myfile.readlines() # reads complete file, and returns the lines in file as list

['Hello this is a test file\n',
 'This is second line \n',
 'This is third line\n']

In [163]:
pwd

'/Users/agnik.guha/Desktop/lrn/pythonL/python3/udemy_course/complete_python_bootcamp_from_zero_to_hero_in_python_by_jose_portilla'

In [164]:
# important step is to close a file
myfile.close()

In [165]:
myfile.read()

ValueError: I/O operation on closed file.

In [169]:
# in previous step we have to remember to close the file
# in following way, file closes by itself
with open('test.txt') as mynewfile:
    contents = mynewfile.readlines()

In [170]:
contents

['Hello this is a test file\n',
 'This is second line \n',
 'This is third line\n']

- mode='r' --> read only, default
- mode='w' --> write only (will overwrite files or create new!)
- mode='a' --> append only (will add on to the files)
- mode='r+' --> reading and writing
- mode='w+' --> writing and reading (will overwrite files or create new!)

In [184]:
%%writefile my_new_file.txt
Here is a new file
This line 2
line 3 her

Overwriting my_new_file.txt

In [185]:
with open('my_new_file.txt', mode='r') as file:
    print(file.readlines())

['Here is a new file\n', 'This line 2\n', 'line 3 her\n']

In [186]:
with open('my_new_file.txt', mode='a') as file:
    file.write("append text")

In [187]:
with open('my_new_file.txt', mode='r') as file:
    print(file.read())

Here is a new file
This line 2
line 3 her
append text

In [188]:
with open('myfflllo.txt', mode='w') as file:
    file.write("I created an new file \nAnd I am writing here.")

In [191]:
with open('myfflllo.txt', mode='r') as file:
    print(file.readlines())

['I created an new file \n', 'And I am writing here.']

### Operators in python 3

Python comparison operators

| Name | Symbol | Explanation |
|------|---------|---------|
| Equality | a == b | compares two are equal or not, if different data_type then false except - for numeric data[compares values]|
| Not equal to| a!=b | if both values are not same, then true|
| Greater than| a > b | if a is greater than b, then true|
| Less than| a < b | if a is less than b, then true|
| Greater than equal to | a >= b | if a is greater than b/or a is equal to b , then true|
| Less than equal to | a <= b | if a is less than b/or a is equal to b , then true|

In [192]:
2 == 2

True

_syntax_

initialize data -> my_dict = {'key1': 'val1', 'key2': 'val2'}

retrive values -> my_dict['key2']

In [193]:
2==1

False

In [199]:
2==2.0 # for floating points as long as they have same value its true in python [Same for java]

True

In [195]:
'hello' == 'bye'

False

In [196]:
'Bye' == 'bye'

False

In [197]:
'2' == 2

False

In [201]:
3 != 3

False

In [203]:
# 3 <> 3 # this is not equal operator for sql not python

In [204]:
3 != 4

True

In [205]:
9.0 != 9

False

In [207]:
'hel' != 'z'

True

In [208]:
3>2

True

In [209]:
98>12

True

In [210]:
213>9999

False

In [211]:
'bye' > 'Bye'

True

In [212]:
'Bye' > 'bye'

False

In [213]:
3>=2

True

In [214]:
3>=3

True

In [215]:
3>=4

False

In [216]:
2<=2

True

In [217]:
2<=5

True

In [218]:
2<=1

False

In [219]:
#
# Chaining comparison operators
# and or not

### Logical operations

**_and_ operator**

result = True, if and only if all are True
|A|B|A and B |
|--|--|--|
|False|False|False|
|False|True|False|
|True|False|False|
|True|True|True|

**_or_ operator**

if atleast one is True then result=True
|A|B|A or B |
|--|--|--|
|False|False|False|
|False|True|True|
|True|False|True|
|True|True|True|

**_not_ operator**

opposite of the boolean value
|A| not A |
|--|--|
|False|True|
|True|False|

In [220]:
1 < 2

True

In [221]:
2 < 3

True

In [222]:
1 < 2 < 3

True

In [223]:
1 < 2 and 2 < 3

True

In [225]:
37<233 and 10<2

False

In [226]:
'h' == 'h' and 2 == 2

True

In [227]:
'h' == 'i' or 2 ==3

False

In [228]:
'h' == 'i' or 2 ==2

True

In [230]:
1 == 1

True

In [232]:
not (1==1)

False

In [233]:
not True

False

In [234]:
not False

True

In [235]:
not 1

False

In [236]:
not 0

True

In [237]:
not -1

False

In [238]:
not 'a'

False

In [246]:
## every value except 0/[]/()/{}/set() [empty objects] is treated as True

In [241]:
not list([])

True

In [243]:
not []

True

In [244]:
not tuple()

True

In [245]:
not set()

True